body{
background-image: url('../BG.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.bg-light{
background-color:#1d2122e6 !important;
}

.card-footer{
padding-top: 3px;
padding-bottom: 3px;
}

.card {
    min-height: 400px;
}

.carousel-item .container{
    min-height: 800px;
}

.tracks-header {
  color: darkgray;
  text-decoration: underline;
  margin-bottom: 20px;
}

div p{
  margin-bottom: 0px;
}

table tbody{
  vertical-align: middle !important;
}

tbody tr{
  height: 85px;
}

tbody tr button{
  width: 33px !important;
  padding: 0 !important;
  transition: all 1s !important;
  transition-timing: ease-in-out !important;
  /* transform: translate(100px, 0px); */
  /* pointer-events: none; */
}
.move-hide{
  transition: all 1s;
  transform: translate(100px, 0px);
  opacity: 0;
}

.ball {
  width: 11px;
  height: 11px;
  border-radius: 50%;         /* Turns a square into a circle   */
  background-color: darkgray;  /* Sets color to Orange           */
  margin-top: 10px;
}

.time-line{
  margin-top: -6px;
  margin-bottom: 5px;
}

#volume{
  padding: 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1px; /* Specified height */
  background: dimgray; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 5px;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: darkgray; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#volume::-moz-range-thumb {
  border-radius: 5px;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: darkgray; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.export-animation{
  transition: all 1.5s;
  transform: rotateY(180deg);
}

.flip {
  transform: rotate(180deg);
}

.liked {
  fill: brown;
}

/* .liked:hover svg path{
  fill: darkgray;
} */
/* iframe{
  margin-right: -500px;
} */

/* tr button {
  margin-right: 5px;
} */
#live_prev:hover svg path{
  fill: antiquewhite;
}
#live_play:hover svg path{
  fill: antiquewhite;
}
#live_pause:hover svg path{
  fill: antiquewhite;
}
#live_next:hover svg path{
  fill: antiquewhite;
}

.track-like:hover svg path{
  fill: brown;
}

.track-export:hover svg path{
  fill: antiquewhite;
}

.track-delete:hover svg path{
  fill: antiquewhite;
}

.track-play:hover svg path{
  fill: antiquewhite;
}
