body{
background-image: url('../BG.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.bg-light{
background-color:#1d2122e6 !important;
}

.card-footer{
padding-top: 3px;
padding-bottom: 3px;
}

.card {
    min-height: 400px;
}

.carousel-item .container{
    min-height: 800px;
}

.tracks-header {
  color: darkgray;
  text-decoration: underline;
  margin-bottom: 20px;
}

table tbody{
  vertical-align: middle !important;
}

tbody tr{
  height: 85px;
}

tbody tr button{
  width: 33px !important;
  padding: 0 !important;
  transition: all 1s !important;
  transition-timing: ease-in-out !important;
  /* pointer-events: none; */
}

.flip {
  transform: rotate(180deg);
}

.liked {
  fill: brown;
}

/* .liked:hover svg path{
  fill: darkgray;
} */
/* iframe{
  margin-right: -500px;
} */

/* tr button {
  margin-right: 5px;
} */
.track-like:hover svg path{
  fill: brown;
}

.track-export:hover svg path{
  fill: antiquewhite;
}

.track-delete:hover svg path{
  fill: antiquewhite;
}

.track-play:hover svg path{
  fill: antiquewhite;
}
