test.sqlite
test2.sqlite
test_2.sqlite
test_3.sqlite
__pycache__
.idea
.env
api.txt
api_spotify.txt
apis.txt
chromedriver.exe
debug.log
sqlite.log
Structure.txt
TestRest.txt
application/__pycache__
application/db_models/__pycache__
dev_db_logs.log
prod_db_logs.log
databases.txt