{% include 'parts/header_open.html' %}
{% include 'parts/header_close.html' %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/begin_scripts.js') }}"></script>

<div class="container">


    <div class="alert alert-info" role="alert">
        <strong>Choose your service ...</strong>
    </div>

    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action"
                onclick='location.replace("{{url_for("oauth.spotify_redirect")}}")'>
            Spotify
        </button>
        <button type="button" class="list-group-item list-group-item-action"
                onclick='location.replace("{{url_for("oauth.deezer_redirect")}}")'>
            Deezer
        </button>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('.static', filename='js/end_scripts.js') }}"></script>
  </body>
</html>



