.mainNav button{
border: 0px solid transparent;
outline: none !important;
}

body {margin-top: 80px;}

.card {
  width: 30%;
  float: left;
  margin: 1%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 8px 8px rgba(0,0,0,0.11),
              0 16px 16px rgba(0,0,0,0.11),
              0 32px 32px rgba(0,0,0,0.11);

    }


.card button{
margin-top:5px;
}

.blockquote-footer{
    margin-bottom: 5px;
}