.mainNav .navbar-toggler{
border: 0px solid transparent !important;
outline: 0 !important;
}

.mainNav .btn {
border-radius: 1.25rem}

.mainNav input{
border-radius: 1.25rem
}

body {
    margin-top: 80px;}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  min-width: 280px;
  width: 30%;
  float: left;
  margin: 1%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 8px 8px rgba(0,0,0,0.11),
              0 16px 16px rgba(0,0,0,0.11),
              0 32px 32px rgba(0,0,0,0.11);

    }


.card button{
margin-top:10px;
}

.blockquote-footer{
    margin-bottom: 5px;
}

.card .btn {
border-radius: 1.25rem}

audio{
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    outline: none ;
    border-radius: 1.25rem;
}
