<div class="fixed-top mainNav">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-2">
<!--        <div class=" p-2" style="background-color: #e3f2fd;">-->
        <div class="row justify-content-between">
        <div class="col-9 my-1 pl-4">
            <a class="btn btn-outline-secondary my-sm-0"
               href="{{ url_for('radios.radios_list') }}">Radios</a>

            <a class="btn btn-outline-secondary my-sm-0"
               href="{{ url_for('tracks.tracks_list') }}">Tracks</a>

            <a class="btn btn-outline-secondary my-sm-0"
               href="{{ url_for('artists.artists_list') }}">Artists</a>

            <a class="btn btn-outline-secondary my-sm-0" >Spotify Albums</a>
            <a class="btn btn-outline-secondary my-sm-0" >Tracks Import</a>
            <a class="btn btn-outline-secondary my-sm-0" >Tracks Export</a>

            <a class="btn btn-outline-secondary my-sm-0"
               href="{{ url_for('statistics.statistics_graphs') }}">Statistics</a>
        </div>
