{% include 'parts/header_open.html' %}
{% include 'parts/header_close.html' %}
{% include 'parts/navbar_menu_open.html' %}
{% include 'parts/login_as.html' %}
{% include 'parts/navbar_menu_close.html' %}
{% include 'parts/navbar_search_open.html' %}
{% include 'parts/navbar_search_close.html' %}
{% include 'parts/navbar_close.html' %}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/imports.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">


<div class="container">
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Import Date</th>
      <th scope="col">Radio Name</th>
      <th scope="col">Tracks Added</th>
    </tr>
  </thead>
  <tbody>
  {% for import in imports %}
    <tr>
      <td>{{ import['import_date'] }}</td>
      <td>{{ import['radio_name'] }}</td>
      <td>{{ import['num_tracks_added'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{% include 'parts/pagination.html' %}


<div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="false" style="background-color: gray">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="d-block w-100" >
            <p>First asdasdasdasdasdasdasd</p>
        </div>
    </div>
    <div class="carousel-item">
        <div class="d-block w-100" >
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
            <p>Second dddddddddddddddddddddd</p>
        </div>
    </div>
    <div class="carousel-item">
        <div class="d-block w-100" >
            <p>Third</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControlsNoTouching" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!--<script type="text/javascript" src="{{ url_for('.static', filename='js/statistics.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pagination.js') }}"></script>
</body>
</html>
