{% include 'parts/header_open.html' %}
{% include 'parts/header_close.html' %}
{% include 'parts/navbar_menu_open.html' %}
{% include 'parts/login_as.html' %}
{% include 'parts/navbar_menu_close.html' %}
{% include 'parts/navbar_search_open.html' %}
<a id='importAll' class="btn btn-outline-secondary my-sm-0 mx-2" >Update All</a>
<a id='exportAll' class="btn btn-outline-secondary my-sm-0 mx-2" >Export All</a>
{% include 'parts/navbar_search_close.html' %}

{% include 'parts/navbar_close.html' %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/begin_scripts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/radios.css') }}">
<div class="container">

  {% for radio in radios %}

<div class="card bg-light text-center" id="card-{{ radio }}">
  <div class="card-header">
    <div class="row">
      <div class="col-10" style="text-align: start">
        <h3 class="text-muted">{{ radio | replace("_", " ")}}</h3>
      </div>
      <div class="col pr-0">
        <img id="play-{{ radio }}" class="play-radio" src="static/play-out.png">
        <img id="pause-{{ radio }}" class="pause-radio" src="static/pause-out.png" style="display: none">
      </div>
    </div>




  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0 ">
      <footer class="blockquote-footer">
        <cite title="Source Title">
          <a class="text-muted " href="{{ radios[radio]['url'] }}" target="_blank">
            {{ radios[radio]['url'] }}
          </a>
        </cite>
      </footer>
      <div>
          <div style="display: inline-block">
          <a type="button" class="btn btn-outline-secondary tracks" role="button"
                  href="{{ '/tracks/' + radio }}">
            Tracks
          </a>
            </div>

          <a type="button" class="btn btn-outline-secondary imports" role="button"
                  href="{{ '/imports/' + radio}}">
            Imports
          </a>


          <a type="button" class="btn btn-outline-secondary exports" role="button"
                  href="{{ '/exports/' + radio }}">
            Exports
          </a>

      </div>
      <div>
        <button type="button" id="import-{{ radio }}" class="btn btn-outline-info do-import">
          Update Radio Tracks List
        </button>
      </div>
              <div>
        <button type="button"id="export-{{ radio }}"  class="btn btn-outline-info do-export">
          Export Tracks to {{ session['ms_service'] | title  }}
        </button>
      </div>
      <div>
        <button type="button"id="custom-import-{{ radio }}"  class="btn btn-outline-info do-export">
          Lookup for specific date
        </button>
      </div>
    </blockquote>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Tracks in radio</small>
      </div>
      <div class="col">
        <small class="text-muted tracks-num">{{ radios[radio]['num_imported'] }}</small>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Last import</small>
      </div>
      <div class="col">
        <small class="text-muted import-date">
          {{ radios[radio]['latest_import'] }}
        {% if radios[radio]['latest_import']  %}
          {{ radios[radio]['latest_import']  }}
        {% else %}
          No Imports
        {% endif %}
        </small>
      </div>
    </div>
  </div>
    <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Tracks to export</small>
      </div>
      <div class="col">
        <small class="text-muted tracks-num-to-export">{{ radios[radio]['num_to_export'] }}</small>
      </div>
    </div>
  </div>
    <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Last export</small>
      </div>
      <div class="col">
        <small class="text-muted export-date">
          {% if radios[radio]['latest_export'] %}
            {{ radios[radio]['latest_export'] }}
          {% else %}
            No Exports
          {% endif %}
        </small>
      </div>
    </div>
  </div>
    <div class="card-footer">
    <div class="row">
      <small class="text-muted tracks-num-to-export">{{ radios[radio]['country'] }}</small>
    </div>
  </div>







</div>

{% endfor %}
</div>
{% include 'parts/loader.html' %}

<!--<audio controls></audio>-->

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/end_scripts.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('.static', filename='js/end_scripts.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/end_scripts.js') }}"></script>-->
</body>
</html>