{% include 'header.html' %}
{% include 'navbar_open.html' %}
{% include 'navbar_search.html' %}
{% include 'navbar_close.html' %}

<div class="container">

  {% for radio in radios %}

<div class="card bg-light text-center">
  <div class="card-header">
    <h3 class="text-muted">{{ radio | replace("_", " ")}}</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0 ">
      <footer class="blockquote-footer">
        <cite title="Source Title">
          <a class="text-muted " href="{{ radios[radio]['url'] }}" target="_blank">
            {{ radios[radio]['url'] }}
          </a>
        </cite>
      </footer>
      <div>
        <button type="button" class="btn btn-outline-secondary">Tracks</button>
        <button type="button" class="btn btn-outline-secondary">Imports</button>
        <button type="button" class="btn btn-outline-secondary">Exports</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-info">Make Import</button>
        <button type="button" class="btn btn-outline-info">Sync Spotify</button>
      </div>
    </blockquote>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Tracks in radio</small>
      </div>
      <div class="col">
        <small class="text-muted">{{ radios[radio]['num_tracks'] }}</small>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <small class="text-muted">Last import</small>
      </div>
      <div class="col">
        <small class="text-muted">{{ radios[radio]['latest_dbimport'] }}</small>
      </div>
    </div>
  </div>
</div>

{% endfor %}

</div>




</body>
</html>