<div class="fixed-top mainNav">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-2">
<!--        <div class=" p-2" style="background-color: #e3f2fd;">-->
        <div class="row justify-content-between">
        <div class="col-10 my-1 pl-4">
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Radios</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Tracks</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Artists</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Spotify Albums</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Tracks Import</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Tracks Export</button>
            <button class="btn btn-outline-secondary my-sm-0" type="submit">Statistics</button>
        </div>
